UPSTASH_REDIS_PHOTO_REST_URL=
UPSTASH_REDIS_PHOTO_REST_TOKEN=

UPSTASH_REDIS_SELFIE_REST_URL=
UPSTASH_REDIS_SELFIE_REST_TOKEN=

MONGODB_URI=

STORJ_ENDPOINT=
STORJ_ACCESS_KEY=
STORJ_SECRET_KEY=
STORJ_BUCKET_NAME=
STORJ_PUBLIC_GATEWAY=


NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=


NEXT_PUBLIC_EMAILJS_SERVICE_ID=
NEXT_PUBLIC_EMAILJS_CONTACT_US_TEMPLATE_ID=
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=

NEXT_PUBLIC_EMAILJS_AUTO_REPLY_TEMPLATE_ID=
